body {
  font-family: Helvetica, sans-serif;
}

input {
  height: 15px;
  padding: 5px;
  font-size: 12px;
}

button {
  height: 20px;
  font-size: 12px;
  cursor: pointer;
}

.container {
    text-align: center;
    background-color: #bdbdbd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.colours {
  margin: 20px 0;
}

.biz-card {
  margin: 30px 5px;
  height: 300px;
  width: 500px;
  border: 1px solid gray;
  position: absolute;
}

.contact ul {
  list-style: none;
  position: absolute;
  bottom: 5px;
  width: 440px;
  padding: 0 30px;
}

.contact li {
  font-size: 14px;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.right-align {
  float: right;
}

.heading p {
  text-align: center;
}

#name {
  font-size: 30px;
  font-weight: bold;
}

#job-title {
  font-size: 18px;
}


.blue {
  background-color: #3232a8;
  color: white;
}

.yellow {
  background-color: #F5FF8D;
  color: black;
}

.gray {
	background-color: #bdbdbd;
	color: black;
}

.green {
	background-color: #088016;
	color: white;
}

.pink {
	background-color: #f2a0eb;
	color: black;
}