body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

video {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#toggleBtn,
#infoBtn {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

#toggleBtn {
  top: 20px;
  right: 300px;
}

#infoBtn {
  top: 20px;
  right: 145px;
}

#infoBox {
  position: absolute;
  top: 130px;
  right: 20px;
  width: 40vw;
  height: 70vh;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 9;
}

p {
  font-size: 24px;
}


#resetBtn {
  top: 20px;
  right: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}
