/*The :root selector in CSS is used to define custom CSS properties (also known as CSS variables) that can be accessed throughout the entire document.*/
:root {
  --mainWhite: #f5f5f5;
  --mainGreen: #7fb800;
  --mainBlue: #0d2c54;
  --lightBlue: #00a6ed;
  --mainBlack: #333333;
}
.max-height {
  min-height: 100vh;
}
body {
  background: url("../img/mainBcg.jpeg") center/cover fixed no-repeat;
  color: var(--mainWhite);
}
.main-container {
  border: 0.1rem solid var(--mainWhite);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.9);
  border-radius: 0.2rem;
}
#counter {
  color: var(--mainGreen);
  font-size: 10rem;
  color: var(--mainBlack);
}
.prevBtn,
.btn-primary,
.nextBtn {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
  background: var(--mainBlue);
  color: var(--mainWhite);
  width: 130px; 
  height: 50px; 
}
}
.prevBtn:hover {
  background: var(--lightBlue);
}
.history {
    color: #333333;
}

.nextBtn:hover {
  background: var(--lightBlue);
}
#historyContainer {
    max-height: 300px;
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px
}

.historyEntry {
    
    margin: 5px 0; 
}

.history {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto; 
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
}
.right-column {
    border-left: 1px solid #ccc; 
    padding-left: 20px; 
}